.content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  color: green;
  .garbage__nav {
    width: 280px;
    height: 220px;
    text-align: center;
    line-height: 220px;
    background: lightblue;
    margin-bottom: 40px;
  }
}
