.header {
  padding: 20px 0;
  height: 300px;
}

.header__search {
  border: 4px solid #fff;
  border-radius: 20px;
  padding: 5px;
  background: red;
}

.hot__icon {
  position: absolute;
  top: 5px;
  right: 5px;
}
