.header {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: 300px;
}

.header__search {
  border: 4px solid #fff;
  border-radius: 20px;
  padding: 5px;
  background: red;
}
